.drop-container {
	text-align: center;
	border: 2px dashed #ccc;
	padding: 20px;
	margin: 20px auto;
	color: #1f1a1a;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	width: 30%;
	transition: background-color 0.3s;
}

.drop-container p {
	margin-top: 10px;
}

.drop-container:hover {
	cursor: pointer;
	animation: pulse 1s infinite alternate;
}
.drop-container:focus {
	outline: none;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}
