.container-paging-control {
	margin-top: 8;
	margin-bottom: 8;
}
.inline-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-info {
	padding: 8;
	color: black;
	font-size: 14;
}
