#draggable-text-container {
	position: absolute;
	z-index: 100000;
	border: 2px solid #2b6284;
}

#draggable-text-controls {
	position: absolute;
	right: 0px;
	display: inline-block;
	background-color: #2b6284;
}

#draggable-text-controls button {
	display: inline-block;
	cursor: pointer;
	padding: 4;
}

#input-text {
	border: 0;
	font-size: 20px;
	padding: 3px;
	background-color: rgba(0, 0, 0, 0);
	cursor: move;
}
