# This workflow executes several linters on changed files based on languages used in your code base whenever
# you push a code or open a pull request.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/github/super-linter
name: CI

on:
  push:
    branches: [ "preprod" ]
  pull_request:
    branches: [ "preprod" ]
jobs:
  run-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: 游릭 Install dependencies 游릭
        run: npm install

      - name: 游릭 Lint Code Base 游릭
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVASCRIPT_ES: true
          DEFAULT_BRANCH: "preprod"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 游릭 Check formatting with Prettier 游릭
        run: npm run check-format

      - name: 游릭 Build App 游릭
        run: npm run build


